/* Styling for the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: arizonia, sans-serif;
  background: #01060A;
}

/* Styling for each individual letter */
span {
  font-size: 4em;
}

.l1 {
  color: #3142FF;
}

.l2 {
  color: #63DF0D;
}

.l3 {
  color: #FF31DC;
}

.l4 {
  color: #FF5C31;
}

.l5 {
  color: #F2F81D;
}

.l6 {
  color: #0C94DF;
}

.l7 {
  color: #31E9FF;
}

.l8 {
  color: #770CBC;
}

.l9 {
  color: #4FE316;
}
